@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "List of Users";
}

<h1>List of Users</h1>

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-sm m-1" style="width:auto">
        Add new User
    </a>

    foreach (var user in Model)
    {
        <div class="card m-1">
            <div class="card-header small">
                User ID: @user.Id
            </div>
            <div class="card-body small">
                <div class="form-row">
                    <div class="col-sm-6">
                        <h5 class="card-title">@user.Email - @user.UserName</h5>
                    </div>

                    <div class="col-sm-6 text-right">
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id"
                               class="btn btn-primary btn-sm m-1">Edit</a>

                            <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-danger btn-sm m-1">Yes</button>
                                <a class="btn btn-primary btn-sm m-1"
                                   onclick="confirmDelete('@user.Id', false)">No</a>
                            </span>

                            <span id="deleteSpan_@user.Id" class="deleteSpan_@user.Id">
                                <a class="btn btn-danger btn-sm m-1"
                                   onclick="confirmDelete('@user.Id', true)">Delete</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            Use the button below to create new user
        </div>
        <div class="card-footer">
            <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-sm m-1" style="width:auto">
                Add new User
            </a>
        </div>
    </div>
}


@section Scripts{

    <script src="~/js/CustomScript.js"></script>    

}
