@model UserClaimsViewModel

@{
    ViewBag.Title = "Manage user Claims";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage user Claims</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.claims.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.claims[i].ClaimType" />
                    <input asp-for="@Model.claims[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.claims[i].IsSelected">
                        @Model.claims[i].ClaimType
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary btn-sm m-1"  />
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-danger btn-sm m-1" >Cancel</a>
        </div>
    </div>
</form>
