@model HomeDetailsViewModel

@{ 
    ViewBag.Title = "Job details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Job.Company</h1>
                <img class="card-img-top" src="~/images/microsoft.jpg"/>
            </div>

            <div class="card-body text-center">
                <h4>Job ID: @Model.Job.Id</h4>
                <h4>Job Position: @Model.Job.JobDescription</h4>
                <h4>Job Link: @Model.Job.JobLink</h4>
                <h4>Job Date: @Model.Job.Date</h4>
                <h4>Expectation: @Model.Job.Expectation</h4>
                <h4>Contact Email: @Model.Job.JobEmail</h4>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm m-1">Back</a>
                <a href="#" class="btn btn-primary btn-sm m-1">Edit</a>
                <a href="#" class="btn btn-danger btn-sm m-1">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}