@model JobEditViewModel

@{
    ViewBag.Title = "Edit Job";
    var total = String.Format("{0:C}", (Model.AnnualRate + Model.Bonus - Model.CommuteCost));
 }

<form asp-controller="Home" asp-action="Edit" asp-route-Id="@Model.Id" method="post">

    <input hidden asp-for="EncryptedId" />
    <input hidden asp-for="JobStatus" />

    <div class="form-group row col-sm-12 mt-2">

        <div class="alert alert-info small text-center mr-5" style="width:230px">
            <strong>Status: @Model.JobStatus</strong>
        </div>

        <div class="alert alert-warning small text-center ml-4" style="width:230px">
            <strong>Next Step: @Model.NextStep</strong>
        </div>

        <div class="col-sm-6 text-right">
            <button type="submit" class="btn btn-primary btn-sm m-1">Update</button>
            <a asp-controller="Home" asp-action="Details" asp-route-Id="@Model.EncryptedId" class="btn btn-danger btn-sm m-1">Cancel</a>
        </div>

    </div>

    <hr />
    <div class="form-group row col-sm-12 font-weight-bold">

        <div class="form-check">
            <input asp-for="@Model.IsAgency"  class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.IsAgency">Agency</label>
        </div>

        <div class="form-check ml-5">
            <input asp-for="@Model.IsHomeOffice"  class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.IsHomeOffice">Home Office</label>
        </div>

    </div>
    <hr />

    <div class="form-group row font-weight-bold">

        <label asp-for="Company" class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="Company" class="form-control" placeholder="Company" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>

        <label asp-for="JobPosition" class="col-sm-1 col-form-label">Position</label>
        <div class="col-sm-3">
            <input asp-for="JobPosition" class="form-control" placeholder="Job Position" />
            <span asp-validation-for="JobPosition" class="text-danger"></span>
        </div>

        <label asp-for="ContactPhone" class="col-sm-1 col-form-label">Phone</label>
        <div class="col-sm-2">
            <input asp-for="ContactPhone" class="form-control" placeholder="Contact number" />
            <span asp-validation-for="ContactPhone" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="ContactEmail" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-4">
            <input asp-for="ContactEmail" class="form-control" placeholder="Contact email" />
            <span asp-validation-for="ContactEmail" class="text-danger"></span>
        </div>

        <label asp-for="JobLink" class="col-sm-1 col-form-label">Link</label>
        <div class="col-sm-6">
            <input asp-for="JobLink" class="form-control" placeholder="Job Link" />
            <span asp-validation-for="JobLink" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="AnnualRate" class="col-sm-1 col-form-label">Income</label>
        <div class="col-sm-2">
            <input asp-for="AnnualRate" class="form-control text-right" placeholder="Annual Rate" />
        </div>

        <label asp-for="Bonus" class="col-sm-1 col-form-label">Bonus</label>
        <div class="col-sm-2">
            <input asp-for="Bonus" class="form-control text-right" placeholder="Bonus" />
        </div>

        <label asp-for="CommuteCost" class="col-sm-1 col-form-label">Commute</label>
        <div class="col-sm-2">
            <input asp-for="CommuteCost" class="form-control text-right" placeholder="Commute Cost" />
        </div>

        <label class="col-sm-1 col-form-label">Total</label>
        <div class="col-sm-2">
            <input value="@total" disabled class="form-control text-right" />
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="Location" class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
            <input asp-for="Location" class="form-control" placeholder="Company Location or Address" />
        </div>

        <label asp-for="Expectation" class="col-sm-1 col-form-label"></label>
        <div class="col-sm-2">
            <select asp-for="Expectation" asp-items="Html.GetEnumSelectList<Expectation>()"
                    class="custom-select mr-sm-2">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Expectation" class="text-danger"></span>
        </div>

        <label asp-for="AppliedDate" class="col-sm-1 col-form-label">Applied</label>
        <div class="col-sm-3">
            <input asp-for="AppliedDate" class="form-control" />
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="InterviewDate" class="col-sm-1 col-form-label">Interview1</label>
        <div class="col-sm-3">
            <input asp-for="InterviewDate" class="form-control" />
        </div>

        <label asp-for="InterviewDate2" class="col-sm-1 col-form-label">Interview2</label>
        <div class="col-sm-3">
            <input asp-for="InterviewDate2" class="form-control" />
        </div>

        <label asp-for="CloseDate" class="col-sm-1 col-form-label">Close</label>
        <div class="col-sm-3">
            <input asp-for="CloseDate" class="form-control" />
        </div>

    </div>

    <hr />

    <div class="row m-1 justify-content-around font-weight-bold">

        <div class="form-check m-1">
            <input asp-for="@Model.Applied" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.Applied">Applied</label>
        </div>

        <div class="form-check m-1">
            <input asp-for="@Model.Researched" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.Researched">Researched</label>
        </div>

        <div class="form-check m-1">
            <input asp-for="@Model.FollowUpSent" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.FollowUpSent">Sent Follow Up Email</label>
        </div>

        <div class="form-check m-1">
            <input asp-for="@Model.Interviewed" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.Interviewed">Interviewed</label>
        </div>

        <div class="form-check m-1">
            <input asp-for="@Model.FollowUp2Sent" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.FollowUp2Sent">Sent Follow Up Email</label>
        </div>

        <div class="form-check m-1">
            <input asp-for="@Model.Finished" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.Finished">Finished</label>
        </div>

    </div>

    <hr />

    <div class="form-group row font-weight-bold">

        <label asp-for="@Model.CoverLetter" class="col-sm-1 col-form-label-sm">Cover Letter</label>
        <div class="col-sm-11">
            <textarea asp-for="@Model.CoverLetter" class="form-control" rows="10" style="text-wrap:normal"
                      type="text" placeholder="Please add your cover letter here"></textarea>
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="@Model.Notes" class="col-sm-1 col-form-label-sm">Notes</label>
        <div class="col-sm-11">
            <textarea asp-for="@Model.Notes" class="form-control" rows="10" style="text-wrap:normal"
                      type="text" placeholder="Please add your notes here"></textarea>
        </div>

    </div>

    <div class="form-group row font-weight-bold">

        <label asp-for="@Model.Feedback" class="col-sm-1 col-form-label-sm">Feedback</label>
        <div class="col-sm-11">
            <textarea asp-for="@Model.Feedback" class="form-control" rows="10" style="text-wrap:normal"
                      type="text" placeholder="Please add your feedback here"></textarea>
        </div>

    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                //select the class(custom file) -- bind to change event
                $('.custom-file-input').on("change", function () { // on change execute this function
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

</form>
